.about {
    min-height: 100vh;
}

.about .conteiner img {
    max-width: 50vw;
    height: auto;

}

.personalInfos{
    max-width: 50vw;
}

.personalInfos p {
    font-size: 1.8rem;
    
}

.about .languages{
    margin-top: 5rem;
}

.button,
.button :first-child {
    transition: ease-in-out 0.15s;
}

.button:hover,
.button:hover :first-child {
    background-color: #0086ce;
}

.button:active {
    box-shadow: 0 3px 2px #02537c inset;
}