.habilities .conteiner>div {
    display: flex;
}

.habilities .title {
    margin-top: 10rem;
    text-align: center;
}

.hardSkills {
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}

.hardSkills img {
    max-width: 50rem;
}

.hardSkills .languages {
    max-width: 30vw;
}

.skillType {
    font-size: 3.5rem;
}

.softSkills {
    flex-direction: column;
}

.skillCard {
    max-width: 55rem;
    margin-left: 2rem;
}

.skillCard :first-child {
    border-bottom: solid 3px;
    font-size: calc(1rem + 1vw);
}

.skillCard :last-child {
    font-size: calc(0.5rem + 1vw);
    margin-block: 1rem;
}

@media(max-width:980px) {
    .hardSkills img {
       scale: 50%;
    }

    .softSkills{
        scale: 80%;
    }
}