.portifolio{
    background-image: url(../img/backgrounds/background-portifólio.png);
}

.portifolio .conteiner{
    justify-content: center;
    flex-wrap: wrap;
    max-width: 110rem;
    gap: 2rem;
}

.projectCard{
    background-color: #090d14;
    font-size: 3rem;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    
    height: 35rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.projectCard img{
 max-width: 23rem;
 border-radius: 1rem;
 box-shadow: 1px 1px 10px 0px #fff;
}

.projects .hidden{
    display: none;
}