.portifolio {
    background-image: url(../img/backgrounds/background-portifólio.png);
}

.portifolio .conteiner {
    justify-content: center;
    flex-wrap: wrap;
    max-width: 110rem;
    gap: 2rem;
}

.projectCard {
    background-color: #090d14;
    font-size: 3rem;
    border-radius: 1rem;
    cursor: pointer;
    height: 35rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.projectCard:nth-child(n){
    height: 40%;
}

.projectCard .projectInCartInfos {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    font-size: 3rem;
     margin-block: 2rem;
}
.projectInCartInfos div:nth-child(n){
    font-size: 2rem;
}

.projectCard img {
    max-width: 23rem;
    border-radius: 1rem 1rem 0 0;
}

.projects .hidden {
    display: none;
}