.projects {
    background-image: url(../img/backgrounds/background-projects.png);
}

.projects .title {
    margin-top: 10rem;
}

.projects .conteiner img {
    border-radius: 2rem;
    max-width: auto;
    max-height: 35rem;
     margin-top: 1.8rem;
}

.projectsInfos {
    max-width: 53rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectsInfos :first-child {
    letter-spacing: 0.07rem;
    font-size: calc(2rem + 1vw);
    margin-bottom: 1rem;
   
}

.projectsDescription {
    font-size: 1.8rem;
    letter-spacing: 0.005rem;
    text-align: justify;
    margin-bottom: 3rem;
    max-width: 80vw;
}

.projectsInfos :last-child {
    font-size: calc(0.5rem + 1vw);
    font-weight: bold;
    border-radius: 3rem;
    padding: 1rem 3rem;
}

.projectSelection input[type="radio"] {
    appearance: none;
    border: solid 1px #0DA4F4;
    border-radius: 50%;
    margin: 3rem 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.projectSelection input[type="radio"]:checked {
    background-image: radial-gradient(#fff 25%, #0DA4F4 50%);
}

.projects .sections {
    justify-content: center;
}

@media(max-width:980px) {
    .projects .conteiner {
       max-width: 100vw;
    }
    .projects .conteiner img {
       scale: 50%;
    }
}